.button {
  background: $light-red; 
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  border-radius: .25rem;
  text-decoration: none;
  border-color: transparent;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.button--active{
  background:$light-orange;
  
}

.button--unactive{
  background:$off-white;  
}
